<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>About Page</title>
</head>
<body>
  {{> header}}
  <p>Hi I am Ajith</p>
  <a href="https://ajithmanmadhan.wordpress.com/">My Blog</a>
  {{> footer}}
</body>
</html
