<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Projects Page</title>
</head>
<body>
  {{> header}}
  <p>GitHub Projects worked so far:</p>
  <p><a href="https://github.com/ajithmanmu">https://github.com/ajithmanmu</a></p>
  {{> footer}}
</body>
</html
